@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }

  [dir="rtl"] {
    direction: rtl;
  }

  [dir="ltr"] {
    direction: ltr;
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }

  .ltr {
    direction: ltr;
  }
}
